  <%= image_tag("http://www.goodhope.org.uk/images/heft.jpg", :alt => "Suggestions App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", '/' %></li>
     
     
    </ul>
  </nav>
